# Chord progression grammar for voicings study.
#
# Non-terminals: uppercase labels for progression patterns.
# Terminals: chord-quality labels from cluster representatives.
# Each terminal is a cluster ID (C0, C1, ...) mapped to a quality label.
#
# Because cluster labels are dynamic (depend on the clustering run),
# we use generic quality tokens as terminals. The pipeline maps cluster
# representatives to these tokens before parsing.
#
# Supported progressions:
#   I-IV-V, ii-V-I, I-vi-IV-V, 12-bar blues

PROG ::= I_IV_V | ii_V_I | I_vi_IV_V | BLUES12
I_IV_V ::= MAJ MAJ MAJ
ii_V_I ::= MIN MAJ MAJ
I_vi_IV_V ::= MAJ MIN MAJ MAJ
BLUES12 ::= MAJ MAJ MAJ MAJ MAJ MAJ MAJ MAJ MAJ MAJ MAJ MAJ
MAJ ::= maj | dom7 | maj7 | sus | other4 | other
MIN ::= min | min7 | min7b5 | dim | dim7
